[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.2"
pytest-cov = "==2.8.1"
requests-mock = "==1.8.0"
pytest-console-scripts = "==0.2.0"
tox = "==3.15.0"
ansible = "==2.9.9"
docker-compose = "==1.25.5"
twine = "==3.1.1"

[packages]
requests = "==2.23.0"

[requires]
python_version = "3.6"
