[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==6.2.2"
pytest-cov = "==2.11.1"
requests-mock = "==1.8.0"
pytest-console-scripts = "==1.1.0"
tox = "==3.21.4"
ansible = "==7.0.0"
docker-compose = "==1.28.2"
twine = "==3.3.0"

[packages]
requests = "==2.25.1"

[requires]
python_version = "3.6"
